<h1>Nombre del cliente<small>Nombre del cliente</small> </h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button routerLink="/clients" class="btn btn-danger">
            <i class=""></i>
            Regresar
        </button>
    </div>
</div>
<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="save(f)" #f="ngForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">cedula</label>
                <input type="number" class="form-control" placeholder="Firebase ID" [(ngModel)]="client.id" name="id"  disabled="disabled">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="email" class="form-control" placeholder="Nombre" [(ngModel)]="client.name" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Apellido</label>
                <input type="email" class="form-control" placeholder="Apellido" [(ngModel)]="client.lastName" name="poder" required>
            </div>

            <hr>
            <button class="btn btn-primary w-25" type="submit">
                <i class="fa fa-save"></i>
                Guardar
            </button>

        </form>
    </div>
</div>
