<h1>Maestro de detalle</h1>
<hr>
<div class="row animated fadeIn faster">
    <div class="col">
        <form [formGroup]="frmPedidos" (ngSubmit)="save()">
            <div class="form-group">
                <label for="exampleFormControlInput1">Clientes</label>
                <select formControlName="cliente"  class="form-control"  >
               <option value="">seleccione un cliente</option>
               <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
        </select>
            </div>
            <hr>
            <div class="form-group">
                <label for="exampleFormControlInput1">seleccione un producto</label>
                <select formControlName="producto"
                        class="form-control"  >
                  <option value="">seleccione un producto</option>
                  <option *ngFor="let product of products" [value]="product.idProduct">{{ product.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>cantidad</label>
                <input type="number" class="form-control" placeholder="quantity"  formControlName="cantidad">
            </div>
            <hr>
            <button class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Generar pedido
            </button>

        </form>
    </div>
   
</div>
<h1>Listado de Categorias</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <!-- <button routerLink="/category/nuevo" class="btn btn-primary">
            <i class=""></i>
            agregar
        </button> -->
        <button class="btn btn-primary" (click)="agregarProducto()">
            agregar Producto
        </button>
    </div>
</div>

<!-- <table *ngIf="!cargando" class="table table-striped animated fadeIn faster">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">cliente</th>
            <th scope="col">fecha</th>
            <th scope="col">producto</th>
            <th scope="col">cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; let i = index">
            <td>{{order.id}}</td>
            <td>{{categoiry.name}}</td>
            <td>{{categoiry.description}}</td>

            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/category',categoiry.idCategoiry]">
                    <span class="glyphicon glyphicon-penci"></span>
                </button>
                <button class="btn btn-danger mr-1" (click)="deleteCategory(category,i)">
                    <span class="glyphicon glyphicon-trash" ></span>
                </button>
            </td>

        </tr>
    </tbody>
        </table>

        <div *ngIf="!cargando && categories.length==0" class="alert alert alert-warning text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
                <i class=" fa fa-exclamation fa-2x"></i>
            </p>
            <p class="mb-0">
                espere porfavor
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert alert-info text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class=" fa fa-spinner fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
           </p>
        </div> -->
